<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <!-- <h1 class="logo me-auto me-lg-0"><a href="/">Code With Ash</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo"><img src="/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a  href="/about">About</a></li>
          <li><a href="/resume" target="_blank">Resume</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="mailto:asharma89505@gmail.com" class="twitter" target="_blank"><i class="bi bi-envelope"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100012746791750" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/dev.ash3/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/asharma73" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>

  </header><!-- End Header -->
  <link href="css/style.css" rel="stylesheet">
