code{
    background-color: gainsboro;
    padding:  0 3px ;
}
h1{
    font-size: 2rem;
    font-weight: 600;
}

h2{
    font-size: 1.5rem;
    margin: 20px 0 ;
}

h3{
    font-size: 1.25rem;
    margin: 20px 0;
}

p{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}